body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #000d30;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
header {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #102050;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}
a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  transform: scale(1.05);
  color: #ffffff8b;
  transition: all 0.3s ease;
}
.ftoos {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 15px;
}
.ftoos::-webkit-scrollbar {
  height: 10px;
}
.ftoos::-webkit-scrollbar-thumb {
  background: #102050;
  border-radius: 10px;
}
.ftoos .igm {
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}
.inicio,
.ret2,
.ret3,
.ret4,
.gfii {
  background-color: #0e0048;
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px;
  width: 75%;
  text-decoration: none;
}
.ret2 ol,
.ret3 ul,
.ret4 ol {
  padding-left: 20px;
  text-decoration: none;
}
.gfii {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.linkgf {
  background-color: rgb(0, 57, 100);
  width: 180px;
  height: 50px;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.linkgf:hover {
  background-color: #05006c;
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
footer {
  width: 100%;
  background-color: #102050;
  color: #ffffff;
  padding: 10px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
footer h1 {
  margin: 0;
}
footer .p {
  margin: 5px;
  margin-left: 550px;
}
footer .fter1,
footer .fter2 {
  color: #ffffff;
  text-decoration: none;
}
.ftfter {
  width: 150px;
  height: 180px;
  margin-top: auto;
  margin-left: auto;
  border-radius: 20px;
  object-fit: cover;
}
.ret2 figure,
.ret3 figure,
.ret4 figure {
  margin-top: -100px;
  margin-left: auto;           
  display: flex;
  flex-direction: column;   
  align-items: center;      
  text-align: center;
}
.ret2 figure img,
.ret3 figure img,
.ret4 figure img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 800px;
}
.ret2 figure figcaption,
.ret3 figure figcaption,
.ret4 figure figcaption {
  margin-top: 5px;
  margin-left: 800px;
}