body{
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
}
input{
    margin-left: 1200px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.maisVistos{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.agf{
    text-align: left;
    display: flex;
    justify-items: none;
    justify-content: none;
}
.agf {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto; 
}
.recomendados{
    display: flex;
    justify-items: center;
    justify-content: center;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-items: center;
    justify-content: center;
}
h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-items: center;
    justify-content: center;
}
img {
    /* background-color: #0048ff; Cor de fundo inicial */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    /* cursor: grab; Cursor de bloqueado */
    border-radius: 20px; /* Sem borda */
    /* transition: all 0.3s ease; Adiciona uma transição suave */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
img:hover{
    /* background-color: #296438; Cor de fundo ao passar o cursor */
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10%, comece sempre com 1.0, o ponto incial, se não fica bagunçado */
    /* border: 5px solid #a10000; Adiciona uma borda azul */
    box-shadow: 5px 5px 15px rgba(255, 0, 0, 1); /* Adiciona uma sombra */
    opacity: 0.7; /* Torna o botão semi-transparente */
}
.gflogo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.gflogo:hover {
    transform: none;
    box-shadow: none;
    opacity: 1;
}

footer {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: red;
    margin-top: 300px;
    /* position: sticky;
    bottom: 0; */
}
/* Definindo a animação */
/* @keyframes congelar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
} */
  
  /* Aplicando a animação ao elemento */